<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.sesi.dao.Tses011VisitantesMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.sesi.modelo.Tses011Visitantes" >
    <id column="ID_VISITANTE" property="idVisitante" jdbcType="DECIMAL" />
    <result column="ID_ETIQUETA" property="idEtiqueta" jdbcType="DECIMAL" />
    <result column="ID_TIPO_PERSONA" property="idTipoPersona" jdbcType="DECIMAL" />
    <result column="ID_INMUEBLE" property="idInmueble" jdbcType="DECIMAL" />
    <result column="ID_CUADRANTE_AREA" property="idCuadranteArea" jdbcType="DECIMAL" />
    <result column="ID_UR" property="idUr" jdbcType="DECIMAL" />
    <result column="CURP" property="curp" jdbcType="VARCHAR" />
    <result column="APELLIDO1" property="apellido1" jdbcType="VARCHAR" />
    <result column="APELLIDO2" property="apellido2" jdbcType="VARCHAR" />
    <result column="NOMBRE" property="nombre" jdbcType="VARCHAR" />
    <result column="PERSONA_VISITA" property="personaVisita" jdbcType="VARCHAR" />
    <result column="FECHA_ACTUALIZACION" property="fechaActualizacion" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mx.sep.sesi.modelo.Tses011Visitantes" extends="BaseResultMap" >
    <result column="FOTOGRAFIA" property="fotografia" jdbcType="BLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_VISITANTE, ID_ETIQUETA, ID_TIPO_PERSONA, ID_INMUEBLE, ID_CUADRANTE_AREA, ID_UR, 
    CURP, APELLIDO1, APELLIDO2, NOMBRE, PERSONA_VISITA, FECHA_ACTUALIZACION
  </sql>
  <sql id="Blob_Column_List" >
    FOTOGRAFIA
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="mx.sep.sesi.modelo.Tses011VisitantesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TSES011_VISITANTES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.sesi.modelo.Tses011VisitantesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TSES011_VISITANTES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TSES011_VISITANTES
    where ID_VISITANTE = #{idVisitante,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TSES011_VISITANTES
    where ID_VISITANTE = #{idVisitante,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.sesi.modelo.Tses011VisitantesExample" >
    delete from TSES011_VISITANTES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.sesi.modelo.Tses011Visitantes" >
    insert into TSES011_VISITANTES (ID_VISITANTE, ID_ETIQUETA, ID_TIPO_PERSONA, 
      ID_INMUEBLE, ID_CUADRANTE_AREA, ID_UR, 
      CURP, APELLIDO1, APELLIDO2, 
      NOMBRE, PERSONA_VISITA, FECHA_ACTUALIZACION, 
      FOTOGRAFIA)
    values (#{idVisitante,jdbcType=DECIMAL}, #{idEtiqueta,jdbcType=DECIMAL}, #{idTipoPersona,jdbcType=DECIMAL}, 
      #{idInmueble,jdbcType=DECIMAL}, #{idCuadranteArea,jdbcType=DECIMAL}, #{idUr,jdbcType=DECIMAL}, 
      #{curp,jdbcType=VARCHAR}, #{apellido1,jdbcType=VARCHAR}, #{apellido2,jdbcType=VARCHAR}, 
      #{nombre,jdbcType=VARCHAR}, #{personaVisita,jdbcType=VARCHAR}, #{fechaActualizacion,jdbcType=TIMESTAMP}, 
      #{fotografia,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.sesi.modelo.Tses011Visitantes" >
    insert into TSES011_VISITANTES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idVisitante != null" >
        ID_VISITANTE,
      </if>
      <if test="idEtiqueta != null" >
        ID_ETIQUETA,
      </if>
      <if test="idTipoPersona != null" >
        ID_TIPO_PERSONA,
      </if>
      <if test="idInmueble != null" >
        ID_INMUEBLE,
      </if>
      <if test="idCuadranteArea != null" >
        ID_CUADRANTE_AREA,
      </if>
      <if test="idUr != null" >
        ID_UR,
      </if>
      <if test="curp != null" >
        CURP,
      </if>
      <if test="apellido1 != null" >
        APELLIDO1,
      </if>
      <if test="apellido2 != null" >
        APELLIDO2,
      </if>
      <if test="nombre != null" >
        NOMBRE,
      </if>
      <if test="personaVisita != null" >
        PERSONA_VISITA,
      </if>
      <if test="fechaActualizacion != null" >
        FECHA_ACTUALIZACION,
      </if>
      <if test="fotografia != null" >
        FOTOGRAFIA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idVisitante != null" >
        #{idVisitante,jdbcType=DECIMAL},
      </if>
      <if test="idEtiqueta != null" >
        #{idEtiqueta,jdbcType=DECIMAL},
      </if>
      <if test="idTipoPersona != null" >
        #{idTipoPersona,jdbcType=DECIMAL},
      </if>
      <if test="idInmueble != null" >
        #{idInmueble,jdbcType=DECIMAL},
      </if>
      <if test="idCuadranteArea != null" >
        #{idCuadranteArea,jdbcType=DECIMAL},
      </if>
      <if test="idUr != null" >
        #{idUr,jdbcType=DECIMAL},
      </if>
      <if test="curp != null" >
        #{curp,jdbcType=VARCHAR},
      </if>
      <if test="apellido1 != null" >
        #{apellido1,jdbcType=VARCHAR},
      </if>
      <if test="apellido2 != null" >
        #{apellido2,jdbcType=VARCHAR},
      </if>
      <if test="nombre != null" >
        #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="personaVisita != null" >
        #{personaVisita,jdbcType=VARCHAR},
      </if>
      <if test="fechaActualizacion != null" >
        #{fechaActualizacion,jdbcType=TIMESTAMP},
      </if>
      <if test="fotografia != null" >
        #{fotografia,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.sesi.modelo.Tses011VisitantesExample" resultType="java.lang.Integer" >
    select count(*) from TSES011_VISITANTES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TSES011_VISITANTES
    <set >
      <if test="record.idVisitante != null" >
        ID_VISITANTE = #{record.idVisitante,jdbcType=DECIMAL},
      </if>
      <if test="record.idEtiqueta != null" >
        ID_ETIQUETA = #{record.idEtiqueta,jdbcType=DECIMAL},
      </if>
      <if test="record.idTipoPersona != null" >
        ID_TIPO_PERSONA = #{record.idTipoPersona,jdbcType=DECIMAL},
      </if>
      <if test="record.idInmueble != null" >
        ID_INMUEBLE = #{record.idInmueble,jdbcType=DECIMAL},
      </if>
      <if test="record.idCuadranteArea != null" >
        ID_CUADRANTE_AREA = #{record.idCuadranteArea,jdbcType=DECIMAL},
      </if>
      <if test="record.idUr != null" >
        ID_UR = #{record.idUr,jdbcType=DECIMAL},
      </if>
      <if test="record.curp != null" >
        CURP = #{record.curp,jdbcType=VARCHAR},
      </if>
      <if test="record.apellido1 != null" >
        APELLIDO1 = #{record.apellido1,jdbcType=VARCHAR},
      </if>
      <if test="record.apellido2 != null" >
        APELLIDO2 = #{record.apellido2,jdbcType=VARCHAR},
      </if>
      <if test="record.nombre != null" >
        NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      </if>
      <if test="record.personaVisita != null" >
        PERSONA_VISITA = #{record.personaVisita,jdbcType=VARCHAR},
      </if>
      <if test="record.fechaActualizacion != null" >
        FECHA_ACTUALIZACION = #{record.fechaActualizacion,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fotografia != null" >
        FOTOGRAFIA = #{record.fotografia,jdbcType=BLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update TSES011_VISITANTES
    set ID_VISITANTE = #{record.idVisitante,jdbcType=DECIMAL},
      ID_ETIQUETA = #{record.idEtiqueta,jdbcType=DECIMAL},
      ID_TIPO_PERSONA = #{record.idTipoPersona,jdbcType=DECIMAL},
      ID_INMUEBLE = #{record.idInmueble,jdbcType=DECIMAL},
      ID_CUADRANTE_AREA = #{record.idCuadranteArea,jdbcType=DECIMAL},
      ID_UR = #{record.idUr,jdbcType=DECIMAL},
      CURP = #{record.curp,jdbcType=VARCHAR},
      APELLIDO1 = #{record.apellido1,jdbcType=VARCHAR},
      APELLIDO2 = #{record.apellido2,jdbcType=VARCHAR},
      NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      PERSONA_VISITA = #{record.personaVisita,jdbcType=VARCHAR},
      FECHA_ACTUALIZACION = #{record.fechaActualizacion,jdbcType=TIMESTAMP},
      FOTOGRAFIA = #{record.fotografia,jdbcType=BLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TSES011_VISITANTES
    set ID_VISITANTE = #{record.idVisitante,jdbcType=DECIMAL},
      ID_ETIQUETA = #{record.idEtiqueta,jdbcType=DECIMAL},
      ID_TIPO_PERSONA = #{record.idTipoPersona,jdbcType=DECIMAL},
      ID_INMUEBLE = #{record.idInmueble,jdbcType=DECIMAL},
      ID_CUADRANTE_AREA = #{record.idCuadranteArea,jdbcType=DECIMAL},
      ID_UR = #{record.idUr,jdbcType=DECIMAL},
      CURP = #{record.curp,jdbcType=VARCHAR},
      APELLIDO1 = #{record.apellido1,jdbcType=VARCHAR},
      APELLIDO2 = #{record.apellido2,jdbcType=VARCHAR},
      NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      PERSONA_VISITA = #{record.personaVisita,jdbcType=VARCHAR},
      FECHA_ACTUALIZACION = #{record.fechaActualizacion,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.sesi.modelo.Tses011Visitantes" >
    update TSES011_VISITANTES
    <set >
      <if test="idEtiqueta != null" >
        ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL},
      </if>
      <if test="idTipoPersona != null" >
        ID_TIPO_PERSONA = #{idTipoPersona,jdbcType=DECIMAL},
      </if>
      <if test="idInmueble != null" >
        ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL},
      </if>
      <if test="idCuadranteArea != null" >
        ID_CUADRANTE_AREA = #{idCuadranteArea,jdbcType=DECIMAL},
      </if>
      <if test="idUr != null" >
        ID_UR = #{idUr,jdbcType=DECIMAL},
      </if>
      <if test="curp != null" >
        CURP = #{curp,jdbcType=VARCHAR},
      </if>
      <if test="apellido1 != null" >
        APELLIDO1 = #{apellido1,jdbcType=VARCHAR},
      </if>
      <if test="apellido2 != null" >
        APELLIDO2 = #{apellido2,jdbcType=VARCHAR},
      </if>
      <if test="nombre != null" >
        NOMBRE = #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="personaVisita != null" >
        PERSONA_VISITA = #{personaVisita,jdbcType=VARCHAR},
      </if>
      <if test="fechaActualizacion != null" >
        FECHA_ACTUALIZACION = #{fechaActualizacion,jdbcType=TIMESTAMP},
      </if>
      <if test="fotografia != null" >
        FOTOGRAFIA = #{fotografia,jdbcType=BLOB},
      </if>
    </set>
    where ID_VISITANTE = #{idVisitante,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="mx.sep.sesi.modelo.Tses011Visitantes" >
    update TSES011_VISITANTES
    set ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL},
      ID_TIPO_PERSONA = #{idTipoPersona,jdbcType=DECIMAL},
      ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL},
      ID_CUADRANTE_AREA = #{idCuadranteArea,jdbcType=DECIMAL},
      ID_UR = #{idUr,jdbcType=DECIMAL},
      CURP = #{curp,jdbcType=VARCHAR},
      APELLIDO1 = #{apellido1,jdbcType=VARCHAR},
      APELLIDO2 = #{apellido2,jdbcType=VARCHAR},
      NOMBRE = #{nombre,jdbcType=VARCHAR},
      PERSONA_VISITA = #{personaVisita,jdbcType=VARCHAR},
      FECHA_ACTUALIZACION = #{fechaActualizacion,jdbcType=TIMESTAMP},
      FOTOGRAFIA = #{fotografia,jdbcType=BLOB}
    where ID_VISITANTE = #{idVisitante,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.sesi.modelo.Tses011Visitantes" >
    update TSES011_VISITANTES
    set ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL},
      ID_TIPO_PERSONA = #{idTipoPersona,jdbcType=DECIMAL},
      ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL},
      ID_CUADRANTE_AREA = #{idCuadranteArea,jdbcType=DECIMAL},
      ID_UR = #{idUr,jdbcType=DECIMAL},
      CURP = #{curp,jdbcType=VARCHAR},
      APELLIDO1 = #{apellido1,jdbcType=VARCHAR},
      APELLIDO2 = #{apellido2,jdbcType=VARCHAR},
      NOMBRE = #{nombre,jdbcType=VARCHAR},
      PERSONA_VISITA = #{personaVisita,jdbcType=VARCHAR},
      FECHA_ACTUALIZACION = #{fechaActualizacion,jdbcType=TIMESTAMP}
    where ID_VISITANTE = #{idVisitante,jdbcType=DECIMAL}
  </update>
</mapper>