<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.sesi.dao.Tses015AlcaldiaMunMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.sesi.modelo.Tses015AlcaldiaMun" >
    <id column="ID_ALCALDIA_MUN" property="idAlcaldiaMun" jdbcType="DECIMAL" />
    <id column="ID_ENTIDAD" property="idEntidad" jdbcType="DECIMAL" />
    <result column="ALCALDIA_MUN" property="alcaldiaMun" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_ALCALDIA_MUN, ID_ENTIDAD, ALCALDIA_MUN
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMunExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TSES015_ALCALDIA_MUN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from TSES015_ALCALDIA_MUN
    where ID_ALCALDIA_MUN = #{idAlcaldiaMun,jdbcType=DECIMAL}
      and ID_ENTIDAD = #{idEntidad,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from TSES015_ALCALDIA_MUN
    where ID_ALCALDIA_MUN = #{idAlcaldiaMun,jdbcType=DECIMAL}
      and ID_ENTIDAD = #{idEntidad,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMunExample" >
    delete from TSES015_ALCALDIA_MUN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMun" >
    insert into TSES015_ALCALDIA_MUN (ID_ALCALDIA_MUN, ID_ENTIDAD, ALCALDIA_MUN
      )
    values (#{idAlcaldiaMun,jdbcType=DECIMAL}, #{idEntidad,jdbcType=DECIMAL}, #{alcaldiaMun,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMun" >
    insert into TSES015_ALCALDIA_MUN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idAlcaldiaMun != null" >
        ID_ALCALDIA_MUN,
      </if>
      <if test="idEntidad != null" >
        ID_ENTIDAD,
      </if>
      <if test="alcaldiaMun != null" >
        ALCALDIA_MUN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idAlcaldiaMun != null" >
        #{idAlcaldiaMun,jdbcType=DECIMAL},
      </if>
      <if test="idEntidad != null" >
        #{idEntidad,jdbcType=DECIMAL},
      </if>
      <if test="alcaldiaMun != null" >
        #{alcaldiaMun,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMunExample" resultType="java.lang.Integer" >
    select count(*) from TSES015_ALCALDIA_MUN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TSES015_ALCALDIA_MUN
    <set >
      <if test="record.idAlcaldiaMun != null" >
        ID_ALCALDIA_MUN = #{record.idAlcaldiaMun,jdbcType=DECIMAL},
      </if>
      <if test="record.idEntidad != null" >
        ID_ENTIDAD = #{record.idEntidad,jdbcType=DECIMAL},
      </if>
      <if test="record.alcaldiaMun != null" >
        ALCALDIA_MUN = #{record.alcaldiaMun,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TSES015_ALCALDIA_MUN
    set ID_ALCALDIA_MUN = #{record.idAlcaldiaMun,jdbcType=DECIMAL},
      ID_ENTIDAD = #{record.idEntidad,jdbcType=DECIMAL},
      ALCALDIA_MUN = #{record.alcaldiaMun,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMun" >
    update TSES015_ALCALDIA_MUN
    <set >
      <if test="alcaldiaMun != null" >
        ALCALDIA_MUN = #{alcaldiaMun,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ALCALDIA_MUN = #{idAlcaldiaMun,jdbcType=DECIMAL}
      and ID_ENTIDAD = #{idEntidad,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.sesi.modelo.Tses015AlcaldiaMun" >
    update TSES015_ALCALDIA_MUN
    set ALCALDIA_MUN = #{alcaldiaMun,jdbcType=VARCHAR}
    where ID_ALCALDIA_MUN = #{idAlcaldiaMun,jdbcType=DECIMAL}
      and ID_ENTIDAD = #{idEntidad,jdbcType=DECIMAL}
  </update>
</mapper>