<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.sesi.dao.Tses018EtiquetasMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.sesi.modelo.Tses018Etiquetas" >
    <id column="ID_ETIQUETA" property="idEtiqueta" jdbcType="DECIMAL" />
    <id column="ID_INMUEBLE" property="idInmueble" jdbcType="DECIMAL" />
    <result column="ESTATUS" property="estatus" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_ETIQUETA, ID_INMUEBLE, ESTATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.sesi.modelo.Tses018EtiquetasExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TSES018_ETIQUETAS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from TSES018_ETIQUETAS
    where ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL}
      and ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from TSES018_ETIQUETAS
    where ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL}
      and ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.sesi.modelo.Tses018EtiquetasExample" >
    delete from TSES018_ETIQUETAS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.sesi.modelo.Tses018Etiquetas" >
    insert into TSES018_ETIQUETAS (ID_ETIQUETA, ID_INMUEBLE, ESTATUS
      )
    values (#{idEtiqueta,jdbcType=DECIMAL}, #{idInmueble,jdbcType=DECIMAL}, #{estatus,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.sesi.modelo.Tses018Etiquetas" >
    insert into TSES018_ETIQUETAS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idEtiqueta != null" >
        ID_ETIQUETA,
      </if>
      <if test="idInmueble != null" >
        ID_INMUEBLE,
      </if>
      <if test="estatus != null" >
        ESTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idEtiqueta != null" >
        #{idEtiqueta,jdbcType=DECIMAL},
      </if>
      <if test="idInmueble != null" >
        #{idInmueble,jdbcType=DECIMAL},
      </if>
      <if test="estatus != null" >
        #{estatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.sesi.modelo.Tses018EtiquetasExample" resultType="java.lang.Integer" >
    select count(*) from TSES018_ETIQUETAS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TSES018_ETIQUETAS
    <set >
      <if test="record.idEtiqueta != null" >
        ID_ETIQUETA = #{record.idEtiqueta,jdbcType=DECIMAL},
      </if>
      <if test="record.idInmueble != null" >
        ID_INMUEBLE = #{record.idInmueble,jdbcType=DECIMAL},
      </if>
      <if test="record.estatus != null" >
        ESTATUS = #{record.estatus,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TSES018_ETIQUETAS
    set ID_ETIQUETA = #{record.idEtiqueta,jdbcType=DECIMAL},
      ID_INMUEBLE = #{record.idInmueble,jdbcType=DECIMAL},
      ESTATUS = #{record.estatus,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.sesi.modelo.Tses018Etiquetas" >
    update TSES018_ETIQUETAS
    <set >
      <if test="estatus != null" >
        ESTATUS = #{estatus,jdbcType=DECIMAL},
      </if>
    </set>
    where ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL}
      and ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.sesi.modelo.Tses018Etiquetas" >
    update TSES018_ETIQUETAS
    set ESTATUS = #{estatus,jdbcType=DECIMAL}
    where ID_ETIQUETA = #{idEtiqueta,jdbcType=DECIMAL}
      and ID_INMUEBLE = #{idInmueble,jdbcType=DECIMAL}
  </update>
</mapper>