<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.sesi.dao.Tses007TipoSangreMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.sesi.modelo.Tses007TipoSangre" >
    <id column="ID_TIPO" property="idTipo" jdbcType="DECIMAL" />
    <result column="TIPO_SANGRE" property="tipoSangre" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_TIPO, TIPO_SANGRE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.sesi.modelo.Tses007TipoSangreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TSES007_TIPO_SANGRE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TSES007_TIPO_SANGRE
    where ID_TIPO = #{idTipo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TSES007_TIPO_SANGRE
    where ID_TIPO = #{idTipo,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.sesi.modelo.Tses007TipoSangreExample" >
    delete from TSES007_TIPO_SANGRE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.sesi.modelo.Tses007TipoSangre" >
    insert into TSES007_TIPO_SANGRE (ID_TIPO, TIPO_SANGRE)
    values (#{idTipo,jdbcType=DECIMAL}, #{tipoSangre,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.sesi.modelo.Tses007TipoSangre" >
    insert into TSES007_TIPO_SANGRE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idTipo != null" >
        ID_TIPO,
      </if>
      <if test="tipoSangre != null" >
        TIPO_SANGRE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idTipo != null" >
        #{idTipo,jdbcType=DECIMAL},
      </if>
      <if test="tipoSangre != null" >
        #{tipoSangre,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.sesi.modelo.Tses007TipoSangreExample" resultType="java.lang.Integer" >
    select count(*) from TSES007_TIPO_SANGRE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TSES007_TIPO_SANGRE
    <set >
      <if test="record.idTipo != null" >
        ID_TIPO = #{record.idTipo,jdbcType=DECIMAL},
      </if>
      <if test="record.tipoSangre != null" >
        TIPO_SANGRE = #{record.tipoSangre,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TSES007_TIPO_SANGRE
    set ID_TIPO = #{record.idTipo,jdbcType=DECIMAL},
      TIPO_SANGRE = #{record.tipoSangre,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.sesi.modelo.Tses007TipoSangre" >
    update TSES007_TIPO_SANGRE
    <set >
      <if test="tipoSangre != null" >
        TIPO_SANGRE = #{tipoSangre,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_TIPO = #{idTipo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.sesi.modelo.Tses007TipoSangre" >
    update TSES007_TIPO_SANGRE
    set TIPO_SANGRE = #{tipoSangre,jdbcType=VARCHAR}
    where ID_TIPO = #{idTipo,jdbcType=DECIMAL}
  </update>
</mapper>