<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.sesi.dao.Tses022TraduccionServicioMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.sesi.modelo.Tses022TraduccionServicio" >
    <id column="ID_TRAD_SERVICIO" property="idTradServicio" jdbcType="DECIMAL" />
    <result column="NOMBRE_METODO" property="nombreMetodo" jdbcType="VARCHAR" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_TRAD_SERVICIO, NOMBRE_METODO, DESCRIPCION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicioExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TSES022_TRADUCCION_SERVICIO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TSES022_TRADUCCION_SERVICIO
    where ID_TRAD_SERVICIO = #{idTradServicio,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TSES022_TRADUCCION_SERVICIO
    where ID_TRAD_SERVICIO = #{idTradServicio,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicioExample" >
    delete from TSES022_TRADUCCION_SERVICIO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicio" >
    insert into TSES022_TRADUCCION_SERVICIO (ID_TRAD_SERVICIO, NOMBRE_METODO, DESCRIPCION
      )
    values (#{idTradServicio,jdbcType=DECIMAL}, #{nombreMetodo,jdbcType=VARCHAR}, #{descripcion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicio" >
    insert into TSES022_TRADUCCION_SERVICIO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idTradServicio != null" >
        ID_TRAD_SERVICIO,
      </if>
      <if test="nombreMetodo != null" >
        NOMBRE_METODO,
      </if>
      <if test="descripcion != null" >
        DESCRIPCION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idTradServicio != null" >
        #{idTradServicio,jdbcType=DECIMAL},
      </if>
      <if test="nombreMetodo != null" >
        #{nombreMetodo,jdbcType=VARCHAR},
      </if>
      <if test="descripcion != null" >
        #{descripcion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicioExample" resultType="java.lang.Integer" >
    select count(*) from TSES022_TRADUCCION_SERVICIO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TSES022_TRADUCCION_SERVICIO
    <set >
      <if test="record.idTradServicio != null" >
        ID_TRAD_SERVICIO = #{record.idTradServicio,jdbcType=DECIMAL},
      </if>
      <if test="record.nombreMetodo != null" >
        NOMBRE_METODO = #{record.nombreMetodo,jdbcType=VARCHAR},
      </if>
      <if test="record.descripcion != null" >
        DESCRIPCION = #{record.descripcion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TSES022_TRADUCCION_SERVICIO
    set ID_TRAD_SERVICIO = #{record.idTradServicio,jdbcType=DECIMAL},
      NOMBRE_METODO = #{record.nombreMetodo,jdbcType=VARCHAR},
      DESCRIPCION = #{record.descripcion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicio" >
    update TSES022_TRADUCCION_SERVICIO
    <set >
      <if test="nombreMetodo != null" >
        NOMBRE_METODO = #{nombreMetodo,jdbcType=VARCHAR},
      </if>
      <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_TRAD_SERVICIO = #{idTradServicio,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.sesi.modelo.Tses022TraduccionServicio" >
    update TSES022_TRADUCCION_SERVICIO
    set NOMBRE_METODO = #{nombreMetodo,jdbcType=VARCHAR},
      DESCRIPCION = #{descripcion,jdbcType=VARCHAR}
    where ID_TRAD_SERVICIO = #{idTradServicio,jdbcType=DECIMAL}
  </update>
</mapper>